.admin_project_container {
    margin-left: 150px; 
    margin-right: 150px;/* Adjust margin as needed */
  }
  
  .admin_project_item {
    margin: 10px 0;
  }
  
  .admin_label {
    text-align: left;
    display: block;
    margin-bottom: 5px;
  }
  
  .admin_select,
  .admin_input {
    width: 10%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .admin_button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .admin_message {
    margin-top: 10px;
    text-align: left;
    color: #007bff;
  }



  .pdf-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0; /* Adjust margin as needed */
    margin-left:10px;
    margin-right:10px;
    
  }
  
  .pdf-table th,
  .pdf-table td {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align:left;
  }
  
  .pdf-table th {
    background-color: #f2f2f2;
  }
  
  .pdf-table a {
    color: black;
    text-decoration: none;
  }
  
  .pdf-table a:hover {
    text-decoration: underline;
  }
  .pdf_table_heading {
    font-size:25px;
    text-align:left;
    margin-left:10px;
  }