@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100;1,300;1,400;1,500;1,700;1,900&family=Satisfy&display=swap');



*{
    text-decoration: none;
}

.banner {
    color: #fff;
    /* margin-top: -100px; */
    width: 100%;
    background:#ffffff;
    /* height: 100vmax; */
    /* background: #002944; */
}
/* li.slide {
    height: 600px;
}
.carousel-root.banner {
    height: 654px;
} */
/* marquee {
    box-shadow: 33px 2px 12px 1px;
    padding: 5px;
}
marquee {
    background: #fff;
    color: #01c3ff;
    font-size: 18px;
} */
    .corouselContent{
        height: 20%;
    }
    
    .bannerq1 {
    display: flex;
    width: 100%;
    }
    .banner1-info {
    width: 63%;
    height: 70%;
    display: flex;
    gap: 5rem;
    flex-direction: column;
    }
    .banner1-info-heading {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    text-align: justify;
    }

    .banner1-info-heading P{
        line-height: 1.8;
        letter-spacing: 0.1px;
        word-spacing: 2px;
        font-size: 0.9vmax;
        text-align: justify;
        font-weight: 0;

        


    }

    .banner1-info-heading h1{
        font-size:3vmax;
        margin-right:408px;
    }

    .online-btn {
        display: flex;
    margin-right: 480px;
    
    
    /* margin: 0 auto; */
    }
   .online-btn button {
   background:#00a3ff;
    width: 15vmax;
    height: 3vmax;
    text-align: center;
    margin: 1rem 1rem;
    border-radius: 9px;
    color:#fff;
   font-size:20px;
   display: flex;
   justify-content: center;
   align-items: center;
    }
    .online-btn button:hover{
        background-color: #f06767;
    }
    
    a {
    color: #fff;
    font: 500 1vmax #fff;
    /* font-size: 1vmax; */
    }
    a:hover {
    color: #fff;
    
    }
    
      
    a:hover {
    /* background-color: #01c3ff; */
    color: #fff;
    
    }
